parameters:
    tmpDir: .phpstan-cache
    level: 8
    checkMissingCallableSignature: true
    checkFunctionNameCase: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
